* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: transparent;
  min-width: 750px;
  min-height: 650px;
}

.dark-bg-gray {
  background-color: #374151;
  color: #e1e9ee;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 2rem;
}

.logo img {
  width: 700px;
  height: 300px;
  margin-bottom: 1rem;
  filter: drop-shadow(0px 0px 50px rgb(255, 255, 255));
}

.text-content {
  text-align: center;
  max-width: 600px;

}

.text-content h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.text-content p {
  font-size: 1.2rem;
  color: #6b7280;
  margin: 5px;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem;
  padding: 0;
}

.buttons a {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border: solid 1px black;
}

.whatsapp-btn {
  background-color: #48c459;
  color: #222;
  filter: drop-shadow(2px 4px 3px rgba(65, 66, 65, 0.897));
}

.instagram-btn {
  background-color: #c73a8a;
  color: #222;
  filter: drop-shadow(2px 4px 3px rgba(65, 66, 65, 0.897));
}

footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  color: #6b7280;
  justify-content: center;
  align-items: center;
}

#modo-btn {
  position: fixed;
  margin: 2rem;
  right: 1rem;
  background-color: #4e5a6d;
  color: #222;
  font-size: 1rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
